@import url("/defaultpage.css");

h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

#postlist {
  margin-left: auto;
  margin-right: auto;
}

.postcard {
  margin-left: 25px;
  border: solid var(--site-green2);
  margin: 7px;
  padding: 5px;
  padding-left:15px;
  background: var(--code-block);
  width: 500px;
}

