@font-face {font-family: "redalert"; src: url("./fonts/redalert.ttf");}
@font-face {font-family: "term"; src: url("./fonts/_decterm.ttf");}
@font-face {font-family: "alagard"; src: url("./fonts/alagard.ttf");}
@font-face {font-family: "sd"; src: url("./fonts/SD-Auto-Pilot.ttf");}


:root {
  image-rendering: pixelated;

  --site-bg:#CFE4B8;
  --site-yellow:#F8CD77;
  --text-dark:#1d2e0f;
  --text-hover:#90a927;
  --site-green2: #1f5242;

}

body {
  font-family: "term", monospace;
  font-weight: normal;
  background-color: var(--site-bg);
  color: var(--text-dark);
}

.mainpanel {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;

}

a {
  color: var(--text-dark);
}

a:hover {
  color: var(--text-hover);
}

.sublist {
  padding-top: 15px;
}
